root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 140

ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

ktlint_standard_no-wildcard-imports = enabled
ktlint_standard_max-line-length = enabled
ktlint_standard_filename = enabled

[*.{yaml,yml,json}]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false
