# Account テーブルのサポート機能宣言

select-supported: true
insert-supported: true
update-supported: true
delete-supported: true
count-supported: true

count-strategy: ACTUAL

search-supported: false
aggregate-supported: false

record-id-type: TEXT

filterable-fields:
  - id
  - name
  - industry
  - created_at

sortable-fields:
  - id
  - name
  - revenue
  - created_at
